*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
.header_sec{
    background-color: orange;
    padding: 5%;
}
.help_btn{
    background-color: transparent;
    margin-top: 5%;
    padding:10px 50px;
    border-radius: 7%;
    border: white solid 2px;
    color: white;
    font-size: 20px;
}
.container_1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.flex_container{
    width: 70%;
}
.skill_sec{
    background-color: orange;
    color: rosybrown;
    padding-bottom: 5%;
    padding-top: 5%;
}
.contact_btn{
    
    background-color: transparent;
    margin-top: 5%;
    padding:10px 50px;
    border-radius: 7%;
    border: white solid 2px;
    color: white;
    font-size: 20px;
}
.tech{
    padding-top: 15%;
    padding-bottom: 15%;
}
.footer{
    background-color: black;
    color: white;
    padding: 5%;
}
.send_btn{
    background-color:RGB(243, 67, 54) ;
    padding:10px 50px;
    font-size: 20px;
    border: none;
    border-radius: 5%;
    color: white;
}